<span class="tl-text-line" height="25px">
  <h4 class="tl-title">
    <span class="tl-line" > <%= @title %> </span>
  </h4>
</span>
<div class="container title_form" id="products" >
    <%= render 'products' %>
</div>


<div class="modal fade" id="modal_div">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Modal Header</h3>
  </div>
  <div class="modal-body">
    <div class="modal-body-content"></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

